<!doctype html>
<!--[if IE 7]>    <html class="ie7 ie" lang="no" class="nojs"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 ie" lang="no" class="nojs"> <![endif]-->
<!--[if IE 9]>    <html class="ie9 ie" lang="no" class="nojs"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="no" class="nojs"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>{{ page.title }} {% if page.title %}| {% endif %} JavaZone Blog</title>
  <meta name="description" content="Javazone!">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="/img/logo.png" />
        </div>
    </div>
    <div id="page">
        <div class="boxed">
            {{ content }}
        </div>
    </div>

</body>
</html>
